$secondary-color: orange;
$secondary-color-lighter: rgb(255, 188, 62);
$secondary-color-low-alpha: rgba(255, 187, 62, 0.726);
$primary-font-color: white;
$bg-color: rgb(34, 34, 34);
$primary-light-color: rgb(53, 53, 53);
$secondary-font-color: rgb(221, 144, 0);
$secondary-dark-color: black;
$font-large: 2.5em;
$font-medium: 1.6em;
$font-small: 1em;
$font-very-small: 0.85em;

$radius: 10px;
